.Products {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
}

.Product {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.ProductTop {
  display: flex;
  justify-content: center;
  flex-flow: column;
  flex-wrap: wrap;
  border: 1px solid #ccc;
}

.ProductBottom {
  display: flex;
  justify-content: space-between;
  padding-top: 0.72em;
}

.AddButton {
  background-color: #2278fff5;
  color: #f2f2f2;
  border-radius: 3px;
  border: none;
  font-size: 14px;
}
