.App {
  text-align: center;
}

.AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.AppHeader {
  background-color: #1146b0;
  padding: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 1rem;
}

.AppLink {
  color: #61dafb;
}

.AppContent {
  display: flex;
  flex: 1;

  padding: 0.5rem;
  > aside {
    flex: 0 0 12em;
    &:last-child {
      flex: 0 0 18em;
    }
  }
  > div {
    flex: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
