.ShoppingCart {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  text-align: left;
  padding-left: 15px;

  ul,
  li {
    margin: 0;
    padding: 0;
  }
}

.CartList {
  li {
    border-bottom: 2px dotted #ccc;
    display: flex;
    justify-content: space-between;
    line-height: 1em;
    margin: 0.5em 0 0 0;

    > div {
      padding: 0;
      margin: 0 0 -2px 0;
      border: 2px solid #fff;
    }
  }
}

.Price {
  display: flex;
  width: 35%;

  > button {
    &:nth-child(2n) {
      margin-right: 10px;
    }
  }
}

.Total {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted #ccc;

  > strong {
    padding: 0;
    margin: 0 0 -2px 0;
    border: 2px solid #fff;
  }
}
