.Sidebar {
  text-align: left;
  ul {
    padding-left: 40px;
    padding-top: 20px;
  }
}

.NavLink {
  a {
    text-decoration: none;
    color: #145cd0f5;
    font-size: 22px;
    text-transform: capitalize;
  }
  :global {
    .active {
      font-weight: bold;
    }
  }
}
